@{
    ViewBag.Title = "Home Page";
}

<!--Header-->
<div class="page-header">
    <img id="logoimg" src="~/images/rsz_transparentlogo.png" />
</div>

<!--Navbar-->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About the Game</a></li>
                <li><a href="#contact">Video Clips</a></li>
                <li><a href="#contact">Game Cheats</a></li>
                <li><a href="http://www.lifeisstrange.com/talk">Talk About It</a></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <iframe class="pull-right" width="560" height="315" src="https://www.youtube.com/embed/mpRhaXfvG_0" frameborder="1" allowfullscreen></iframe>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/images/max7.png" alt="...">
                <div class="caption">
                    <h3>Episode 1</h3>
                    <p>Village did removed enjoyed explain nor ham saw calling talking. Securing as informed declared or margaret. Joy horrible moreover man feelings own shy. Request norland neither mistake for yet. Between the for morning assured country believe. On even feet time have an no at. Relation so in confined smallest children unpacked delicate. Why sir end believe uncivil respect. Always get adieus nature day course for common. My little garret repair to desire he esteem. </p>
                    <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/images/1799012_10206300589864058_2877816361482765980_o.jpg" alt="...">
                <div class="caption">
                    <h3>Episode 2</h3>
                    <p>Allow miles wound place the leave had. To sitting subject no improve studied limited. Ye indulgence unreserved connection alteration appearance my an astonished. Up as seen sent make he they of. Her raising and himself pasture believe females. Fancy she stuff after aware merit small his. Charmed esteems luckily age out. </p>
                    <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/images/maxresdefault.jpg" alt="...">
                <div class="caption">
                    <h3>Episode 3</h3>
                    <p>He share of first to worse. Weddings and any opinions suitable smallest nay. My he houses or months settle remove ladies appear. Engrossed suffering supposing he recommend do eagerness. Commanded no of depending extremity recommend attention tolerably. Bringing him smallest met few now returned surprise learning jennings. Objection delivered eagerness he exquisite at do in. Warmly up he nearer mr merely me.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>s