<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Home.css" />
</head>
<body>
    <div class="navbar navbar-fixed-left">
        <a href="Home.html"><img src="" /></a>
        <ul>
            <li>@Html.ActionLink("About", "About")</li>
            <li><a href="Portfolio.html">Portfolio</a></li>
            <li><a href="Resume.html">Resume</a></li>
            <li><a href="Contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="container" id="header">
            <h1>Sven Slarsson</h1>
            <h2>PORTFOLIO</h2>
        </div>

        <div class="container" id="content">
            <div class="col-md-3">
                <img src="https://s-media-cache-ak0.pinimg.com/236x/de/1f/00/de1f00a3c5e24e1f8a8c08175bfe4659.jpg" />
            </div>
            <div class="col-md-9">
                <p>Hi, I'm Sven Slarson! I'm reindeer software developer.</p>
                <p>Based in Sao Paulo, Brazil, I work as a full stack developer for Santa.</p>
            </div>
        </div>
    </div>
</body>
</html>
